* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 36px;
  min-height: 100vh;
  color: white;
  background-color: black;
  display: grid;
  place-content: center;
}
.img {
  width: 150px;
  height: 150px;
}
